outputs/
src/__pycache__
tempout/
tempout2/
tempout3/
tempout4/
tempout5/
tempout6/
tempout7/
tempout8/
tempout9/
tempout10/
tempout11/
tempout12/
tempout13/
tempout14/
tempout15/
tempout16/
tempout17/
tempout18/
tempout19/
config/config2.ini
config/config3.ini